.effective-solutions-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/people-office-bg-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 320px;
  /* max-height: 432px; */
  padding-top: 72px;
  padding-bottom: 72px;
}

.effective-solutions-title {
  display: flex;
  color: #fff;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 288px;
}

.order-service-button {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-top: 72px;
  /* margin-bottom: 72px; */
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

@media screen and(min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .effective-solutions-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../../images/people-office-bg-mobile@2x.jpg);
    }
}


@media screen and (min-width: 768px) {
  .effective-solutions-section {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/people-office-bg-tablet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    max-width: 768px;
    /* max-height: 432px; */
    padding-top: 112px;
    padding-bottom: 36px;
  }

  .effective-solutions-title {
    display: flex;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;
  }

  .order-service-button {
    background-color: #4d5ae5;
    border-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-top: 36px;
    margin-bottom: 56px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-service-button:hover,
  .order-service-button:focus {
    background-color: #404bbf;
  }
}

@media screen and(min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .effective-solutions-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../../images/people-office-bg-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
  .effective-solutions-section {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/people-office-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .effective-solutions-title {
    display: flex;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;
  }

  .order-service-button {
    background-color: #4d5ae5;
    border-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    /* margin-bottom: 20px; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-service-button:hover,
  .order-service-button:focus {
    background-color: #404bbf;
  }
}


@media screen and(min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .effective-solutions-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../../images/people-office-bg@2x.jpg);
    }
}